.main {
  &__about {
    min-height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    .synopsis {
      p {
        margin-top: 1rem;
        max-width: 18.75rem;
        font-size: $font-sm;
        font-style: italic;
      }
    }
    img {
      max-width: 100%;
      padding: 0 1rem;
    }
  }

  &__environment {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    .synopsis {
      p {
        margin-top: 1rem;
        max-width: 18.75rem;
        font-size: $font-sm;
        font-style: italic;
      }
    }
    img {
      max-width: 100%;
      padding: 0 1rem;
    }
    .carousel {
      max-width: 33.75rem;
      .carousel-control-prev {
        left: 1rem;
      }
      .carousel-control-next {
        right: 1rem;
      }
    }
  }

  &__menu {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    position: relative;
    color: #fff;

    .background-menu {
      position: absolute;
      width: 100%;
      z-index: -1;
      height: 100vh;
      background-image: url("/src/images/menu-background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .synopsis {
      p {
        margin-top: 1rem;
        max-width: 18.75rem;
        font-size: $font-sm;
        font-style: italic;
        margin-bottom: 3rem;
      }

      a {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: 1px solid #f5f5f5;
        border-radius: 3rem;
        padding: 1rem;
      }
    }
    img {
      max-width: 100%;
      padding: 0 1rem;
    }
    .carousel {
      max-width: 23.75rem;

      .carousel-control-prev {
        left: 1rem;
      }
      .carousel-control-next {
        right: 1rem;
      }
    }
  }
}
